body {
	margin:0px;
	background-color: #e6e6ff;
	font-family: "Helvetica,Arial,FreeSans"; 
	color: black;
}

#container {
	background-color:white;
	border: 1px solid #cccccc;
	padding:3em;
	margin:30px 30px 60px 30px;
}

h1 {
	font-size: 3.8em;
	color: #4e9af9;
	margin-bottom: 3px; 
}

h1 .small { 
	font-size: 0.4em; 
}

h2 { 
	font-size: 1.5em; 
	color: #4e9af9; 
}

h3 { 
	text-align: center; 
	color: #4e9af9; 
}

a { 
	text-decoration: none;
	color: #4e9af9; 
}

img {
	border:none;
}

#forkMeLink {
	position:absolute;
	top:0px;
	right:0px;
}

.description { 
	font-size: 1.2em; 
	margin-bottom: 30px; 
	margin-top: 30px; 
	font-style: italic;
}

#document-index {
	margin:2em 0px 1em 1em;
	clear:both;
	float:right;
	border:1px solid #cccccc;
	padding:1em;
}

#indexList {
}

.indexListItem {
}

pre.console { 
	background: black; 
	color: white; 
	padding: 15px;
}

.footer { 
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
}
	
