body {
	margin:0px;
	background-color: #e6e6ff;
	font-family: "Helvetica,Arial,FreeSans"; 
	color: black;
}

#container {
	background-color:white;
	border: 1px solid #cccccc;
	padding:3em;
	margin:30px 30px 60px 30px;
}

.title {
	font-size: 3.8em;
	color: #4e9af9;
}

h1 {
	font-size: 2em;
	color: #4e9af9;
}

h2 { 
	font-size: 1.5em; 
	color: #4e9af9; 
}

h3 { 
	text-align: center; 
	color: #4e9af9; 
}

a { 
	text-decoration: none;
	color: #4e9af9; 
}

img {
	border:none;
}

hr {
	border-top:1px solid #cccccc;
	border-bottom:none;
}

#forkMeLink {
	position:absolute;
	top:0px;
	right:0px;
}

#document-index {
	margin:0em 0px 1em 1em;
	clear:both;
	float:right;
	border:1px solid #cccccc;
	padding:0em 1em 0em 1em;
	width:11em;
}

#document-index a {
	display:block;
	margin: 2px 0px 2px 0px;
}

#document-index .downloadLink {
	text-align:center;
}

pre.console { 
	background: black; 
	color: white; 
	padding: 15px;
	border:1px solid #cccccc;
}

.table {
}

.header {
}

.headerCell {
	font-weight:bold;
	padding:0em 1em 0em 1em;
	border-bottom:1px solid #cccccc;
}

.row {
}

.cell {
	vertical-align:top;
	padding:0em 1em 0.75em 1em;
}

.footer { 
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
}

.nowrap {
	white-space:nowrap;
}

	
