body {
	margin:0px;
	background-color: #e6e6e6;
	font-family: "Helvetica,Arial,FreeSans"; 
	color: black;
}

#container {
	background-color:white;
	border: 1px solid #cccccc;
	padding:3em;
	margin:50px 50px 100px 50px;
}

h1 {
	font-size: 3.8em;
	color: #4e9af9;
	margin-bottom: 3px; 
}

h1 .small { 
	font-size: 0.4em; 
}

h1 a { 
	text-decoration: none;
}

h2 { 
	font-size: 1.5em; 
	color: #4e9af9; 
}

h3 { 
	text-align: center; 
	color: #4e9af9; 
}

a { 
	color: #4e9af9; 
}

.description { 
	font-size: 1.2em; 
	margin-bottom: 30px; 
	margin-top: 30px; 
	font-style: italic;
}

#download { 
	float: right; 
}

#document-index {
	margin-top:2em;
	clear:both;
	float:right;
	border:1px solid #cccccc;
	padding:1em;
}

pre { 
	background: #000; 
	color: #fff; 
	padding: 15px;
}

hr { 
	border: 0; 
	width: 80%; 
	border-bottom: 1px solid #aaa;
}

.footer { 
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
}
	
