<div id="document-index">
<p>Index</p>
	<hr />
	<a href="index.html">Home</a>
	<p>Installing into Xcode</p>
	<a href="creatingDocuments.html">Creating documents</a>
	<a href="manipulatingDocuments.html">Manipulating documents</a>
	<a href="xpathQueries.html">XPath queries</a>
	<a href="messagingUrls.html">Messaging URLs</a>
	<a href="messagingWebServices.html">Messaging web services</a>
	<a href="errorHandling.html">Error handling</a>
	<hr />
	<p>API reference</p>
	<p>Building dXml</p>
	<!--
	<a href="installing.html">Installing into Xcode</a>
	<a href="apiReference.html">API reference</a>
	<a href="building.html">Building dXml</a>
	-->
	<hr />
	<a class="downloadLink" href="http://cloud.github.com/downloads/drekka/dXml/dXml-0.1.1.dmg">
			<h2>Download latest<br />static library<br />v0.1.1</h2>
	</a>
	
</div>
